alabaster==0.7.10
Babel==2.5.3
backcall==0.1.0
certifi==2018.1.18
chardet==3.0.4
colorama==0.3.9
cycler==0.10.0
decorator==4.2.1
docutils==0.14
idna==2.6
imagesize==1.0.0
ipython==6.3.1
ipython-genutils==0.2.0
jedi==0.11.1
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==2.2.0
nose==1.3.7
numpy==1.14.1
packaging==17.1
parso==0.1.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2018.3
requests==2.18.4
scipy==1.0.0
simplegeneric==0.8.1
sip==4.19.8
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.2
sphinxcontrib-websupport==1.0.1
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
